* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    scrollbar-color:rgb(223, 72, 129, 0.4) rgb(196, 48, 215, 0.3) ;
    

}

:root {
    --font-poppins: "Poppins", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --white: #fff;
    --color-secondary: #3366cc;
    --color-principal: #004884;
    --color-grey:hsl(0, 0%, 50%);

    --color-tertiary:#E6EFFD;
    --color-quaternary:#FF9019;
    --color-quinary:#7F00B2;
    --color-senary:#D0A3E1;
    --color-novenary:#A833B9;



    --color-rose:#df4881;
    --color-purple:#c430d7;
    --text-dark:#0a0a0a;
    --text-light:#737373;
    --padding-container: 32px 0;
}

html{
    overflow-x: hidden;

}

body {
    font-family: var(--font-open-sans);
    font-size: 1rem;
    background-color: var(--color-principal1);
    overflow-x: hidden;

    

}

.container {
    width: 90%;
    margin: 0 auto;
    padding: var(--padding-container);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.header__figure {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__logo--fit {
    display: flex;
    align-items: center;
    gap: 5px;
}


.header__logo--complete{
    width: 100%;
    height: 30px;
}








.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;
}

.nav__links{
    opacity: 0;
    visibility: hidden;
    position: fixed ;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--white);
    /* padding: 5rem 3rem 3rem; */
    z-index: 2;
    gap: 70px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .6);
    font-size: 1.4rem;
    
}


@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes desplazamientoCerrar {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}

.nav__links--mostrar{
    opacity: 1;
    visibility: visible;
    animation: desplazamiento .5s ease-in-out;

}

.nav__links--close{
    animation: desplazamientoCerrar .5s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.header__closeIcon{
    width: 40px;
    height: 40px;
    fill:var(--color-rose);
    color: var(--color-rose);
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.nav__link {
    display: block;
    text-decoration: none;
    color: var(--color-rose);
    font-weight: 600;
}

.header__icons {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
}






.header__menu--container{
    width: 30px;
    height: 30px;
}

.header__menu {
    width: 30px;
    height: 30px;
    color: var(--color-principal);
    fill: var(--color-principal);
    cursor: pointer;
}


/* inicio hero main */

.main{
    position: relative;
}

.main__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}

.main__heroText{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main__title{
    font-size: 2.2rem;
    margin-bottom: 8%;
    letter-spacing: -2px;
    line-height: 1.3;
    color: var(--text-dark);
}

.main__span{
    color: var(--color-rose);
}

.main__paragraph{
    margin-bottom: 8%;
    color: var(--text-light);
}

.main__cta{
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7 );
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: border-top-right-radius 0.5s ease-in-out;
    margin-bottom: 8%;
}

.main__cta:hover{
    border-top-right-radius: 30px;
    
}

.main__figure{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.main__img{
    width: 90%;
    position: relative;
    top: 0;
    right: -12%;
    aspect-ratio: 37/38;
     /* mask-image: linear-gradient(
        black 9%,
        transparent
    ); */
    

}

.main__elipse{
    position: absolute;
    width: 100%;
    height: 100%;
    
    z-index: -1;
    background-image: url('./img/Ellipse.svg');
    background-size: contain;
    background-position:  bottom;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}
/* Fin hero main */

/* Inicio Animación */

.anim{
    opacity: 0;
    transform: translateX(30px);
    animation: moveright 0.5s linear forwards;
}

@keyframes moveright {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.anim-left{
    opacity: 0;
    transform: translateX(-30px);
    animation: moveleft 0.5s linear forwards;
}

@keyframes moveleft {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Fin animacion */


/* Inicio Cards */

.section__cards{
    margin-top: 8%;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(1, 1fr);
}

.section__card{
    margin: 0 auto;
    text-align: center;

}

.card__span{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 15px;
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: rgb(196, 48, 215, 0.2);
}

.card__icon{
    width: 30px;
    aspect-ratio: 1/1;
}

.card__title{
    max-width: 150px;
    margin-inline: auto;
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--text-dark);
    min-height: 44px;
    max-height:44px ;
}

.card__description{
    color: var(--text-light);
}

/* Fin Cards */

/* INICIO BENEFICIOS */

.benefits__text{
    color: var(--text-dark);
}


  .benefits__title {
    margin: 20px 0 20px 0;
  }
  .main__underlined{
    color: var(--color-rose);
  }
  .benefits__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-family: var(--font-poppins);
  }
  
  .benefits__img {
    width: 100%;
    height: auto;
  }
  
  .benefits__img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
  }
  
  .benefits__description {
    line-height: 23px;
    margin-bottom: 15px;
    color: var(--text-light);
  }
  
  span {
    line-height: 28px;
  }
  
  .benefits__list {
    list-style-type: none;
    padding-left: 0;
  }

  .list-flex{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-light);
  }
  .icon__check{
    width: 24px;
    aspect-ratio: 1/1;
  }
  .benefits__text-check{
    margin: 0;
  }
/* FIN BENEFICIOS */
/* Inicio Testimonios */

.clients__title{
    color: var(--color-rose);
    margin-bottom: 18px;
    font-size: 1.6rem;
    text-align: center;
    /* text-wrap: nowrap; */
}

.clients__description{
    font-size: 1.2rem;
    color: var(--text-light);
    max-width: 950px;
    text-align: center;

}

.clients__cards{
    margin-top: 8%;
    display: grid;
    justify-content: center;
    gap: 4rem;
    grid-template-columns: repeat(1, 1fr);
}


.client__card{
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    
    background-color: rgb(196, 48, 215, 0.2);
    border-radius: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.client__card:hover{
    background-color: var(--color-purple);
}

.client__content{
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-radius: calc(1rem - 5px);
}

.client__rating{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    width: fit-content;
    color: var(--color-principal);
}

.client__span{
    display: block;
    width: fit-content;
}

.client__star{
    width: 18px;
}

.client__testimonial{
    color: var(--text-dark);
}
.client__details{
    color: var(--text-dark);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1rem;

}

.client__img{
    max-width: 50px;
    border-radius: 100%;
}

.client__name{
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--text-dark);
    transition: color .3s ease-in-out;
}

.client__card:hover .client__name{
    color: white;
    
}

.client__job{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
    transition: color 0.3s ease-in-out;
}

.client__card:hover .client__job{
    color: white;
}


/* Fin Testimonios */

/* Inicio Preguntas Frecuentes */

.question__title{
    color: var(--color-rose);
    margin-bottom: 32px;
    font-size: 1.6rem;
    text-align: center;
}

.question__texts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtitle{
    text-align: center;
    font-size: 1.9rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Fin preguntas frecuentes */

/* INICIO CONTACTO */
.main__contact{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;
    /* padding-bottom: 0; */
}

.img__contact{
    display: none;
}
.main__contact{
    width: 100%;
    background-color: #c330d721;
}
.contact__subtitle{
    color: var(--color-rose);
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2.5%;
}
.paragraph__contact{
    text-align: center;
    font-weight: 500;
    margin-bottom: 5.5%;
    color: var(--text-light);
}

.form{
    display: grid;
    gap: 2rem ;
}

.form__container{
    position: relative;

}

.form__input{
    width: 100%;
    background-color: #fff;
    color: var(--text-color);
    padding: 1.2rem .6rem .4rem .6rem  ;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    outline: none;
    font-family: var(--font-open-sans);
    transition: border-bottom .2s ease-in-out;
    caret-color: var(--text-light);
}


.form__input:focus{
    border-bottom: 3px solid var(--color-rose);
}



.form__input:focus + .form__label{
    color:var(--color-rose)
}

.form__label{
    color: #A2A2A2;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 12px;
    transform: translateY(-2px);
    transition: color .2s ease-in-out;
}

.form__submit{
    width: fit-content;
    background-color: var(--blue);
    border: none;
    padding:12px 16px 12px 16px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    cursor: pointer;

}


.form__message{
    resize: none;
    outline: none;
    overflow: auto;
    scrollbar-width: none;
    height: 140px;
}

.figure__contact{
    display: none;
}
/* FIN CONTACTO */

/* Inicio Footer */

.footer{
    background-color: var(--color-rose);
    color: #fff;

}

.footer__container{
    width: 80%;
}

.footer__content{
    margin-bottom: 10%;
}
.footer__title{
    font-size: 2rem;
    color: var(--white);
}
.footer__contact{
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 10px;
    
}



/* .footer__contact::after{
    content: 'Phone: +1-543-123-4567';
    margin-left: 10px;
} */

/* .footer__contact--email::after{
  content: 'example@fylo.com';
} */

.footer__navs{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 20px;
   
}

.footer__nav{
    text-decoration: none;
    color: #fff;
    transition: .3s ease-in-out;
}

.footer__nav:hover{
    color:var(--Bright-Blue)
}

.footer__social{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    gap: 8px;
    width: 80%;
    /* fill: red; */


}

.footer__link{
    /* border: 1px solid #fff; */
    border-radius: 100%;
    /* padding: 3px; */
    display: flex;
    align-items: center;
    justify-content: center;

}



.footer__icon{
    width: 80%;
    border: 1px solid white;
    padding: 5px;
    border-radius: 100%;
    fill: #fff;
    stroke: white;
}



#link__svg{
    fill: #fff;
    border: 1px solid white;
    width: 100% !important;
    height: 100% !important;
    border: 1px solid white;
    padding: 5px;
    border-radius: 100%;
    transition: .3s ease-in-out;
}

#link__svg:hover{
    fill: var(--color-novenary) !important;
    border-color: var(--color-novenary);
}




/* Fin Footer */


/*Inicio mediaqueries menu desplegable*/

@media(min-width:375px){
    .header__userIcon{
      display: block;
    }
}

@media(min-width:425px){
    .nav__links{
        
       
        width: 60%;
       
    }
    

}

@media(min-width:550px){
    .nav__links{
        
       
        width: 50%;
       
    }

    .section__cards{

        grid-template-columns: repeat(2, 1fr);


    }

 

    .client__card{
        width: 100%;
        /* min-width: 357px; */
        /* max-width: 357px; */
        padding: 5px;
        
        background-color: rgb(196, 48, 215, 0.2);
        border-radius: 1rem;
        transition: background-color 0.3s ease-in-out;
    }

}

@media(min-width:700px){
    .nav__links{
        
       
        width: 40%;
       
    }

    .main__title{
        font-size: 2.6rem;
        margin-bottom: 10%;
    }
    
    .main__paragraph{
        font-size: 1.2rem;
        margin-bottom: 10%;

    }

}


@media(min-width:768px) {

    .nav__links{
        opacity: 1;
        visibility: visible;
        position: inherit;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
        box-shadow: inherit;
        width: inherit;
        font-size: inherit;
        background-color: inherit;



    }

    .header__closeIcon{
        display: none;
    }

    .nav__link {
        display: block;
    }
    /*Fin mediaqueries menu desplegable*/
    
    .header__menu--container{
        display: none;
    }
    .header__menu{
        display: none;
    }

    /* Inicio main hero */

    .main{
        max-height: 100vh;

    }

    .main__container{
        padding-top: 0;

        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-between;
        
    }

    .main__heroText{
        
        text-align: left;
    }
    
    .main__title{
        font-size: 2.3rem;
    }
    
    .main__cta{
        width: fit-content;
        padding: 14px 60px;
        
    } 
    
    /* .main__img{
        width: 80%;
       
    } */

    .main__figure{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
       
        
    }

    .main__img{
        width: 130%;
        position: absolute;
        top: -21%;
        right: -20%;
        aspect-ratio: 37/38;
         /* mask-image: linear-gradient(
            black 9%,
            transparent
        ); */
    }
    
    .main__elipse{

      background-position:  top right;
       
    }
    /* Fin main hero */

    .clients__title{
        font-size: 2rem;
        
        text-align: left;
    }
    
    .clients__description{
        
        text-align: left;
    
    }
    .section__cards{

        grid-template-columns: repeat(3, 1fr);
    }


    .clients__cards{
        gap: 8px;
       
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));


    }

    .client__card{
        width: 100%;
        padding: 5px;
        
        background-color: rgb(196, 48, 215, 0.2);
        border-radius: 1rem;
        transition: background-color 0.3s ease-in-out;
    }
    
    .client__content{
        min-height: 200px;
        max-height: 200px;
    }

    

    .client__job{
        text-wrap: nowrap;
    }

    /* INICIO BENEFICIOS */
    .benefits__container {
        grid-template-columns: repeat(2, 1fr);
      }

      .benefits__title{
        margin: 0;
        margin-bottom: 20px;
      }
    
      .benefits__text {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .benefits__text-check{
        margin: 0;
      }
    /* FIN BENEFICIOS */
    /* Preguntas Frecuentes inicio */
    .question__title{
        
        font-size: 2rem;
    }

    .subtitle{
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 5%;
    }

    /* Fin Preguntas frecuentes */

    /* INICIO CONTACTO */
    .main__contact{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        /* padding-bottom: 0; */
        padding: 0 0 0 0;
    }

    .img__contact{
        display: block;
    }
    .main__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }

   .contact__subtitle{
    font-size: 3.4rem;
    text-align: left;
   }

   .paragraph__contact{
    font-size: 1.5rem;
    text-align: left;
   }

   .contact__btn{
    font-size:1rem;
   }
    .img__contact{
        
        width:100%;
        height:auto;
    }
    /* FIN CONTACTO */

    /* Inicio footer */
    .footer{
    }
    .footer__desktop{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer__contact--desktop{
        
        width: fit-content;
        height: fit-content;
    }

    .footer__contact{
        line-height: 0;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        gap: 10px;
        
    }

    .footer__navs{
       
        margin-top: 0;
        
        width: 200px;
        max-width: max-content;
       
    }

    .footer__social{
        margin: 0;
        

     
        width: 80%;
        max-width: max-content;

    }

    /* Fin Footer */
   
}

@media(min-width:815px){
    .main__img{
   
        top: -23%;
       
    }

}

@media(min-width:960px){
    
    .section__cards{
        margin-top: 10%;

    }
}


@media(min-width:1024px){

    .main__title{
        font-size: 2.8rem;
        margin-bottom: 10%;
    }
    
    .main__paragraph{
        font-size: 1rem;
        margin-bottom: 10%;

    }
    
    .main__cta{
      font-size: 1.1rem;
        
    }

    .main__img{
        width: 100%;
       
    }

    .section__cards{
        margin-top: 8%;
    }

    .clients__cards{
        gap: 8px;
       
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

    }

    /* .client__content{
        min-height: 300px;
        max-height: 300px;
    } */

    /* INICIO BENEFICIOS */
  .benefits__img img {
    max-height: 500px;
  }

  .benefits__text {
    margin-left: 40px;
  }

  .benefits__text-check{
        margin: 0;
    }

  p {
    font-size: 1.05rem;
  }

  .benefits__description {
    line-height: 27px;
  }
  /* FIN BENEFICIOS */
}

@media(min-width:1350px){

    .main__container{
        padding: 32px 0;
    }
    .main__title{
        margin-top: 2%;
        font-size: 3.4rem;
        margin-bottom: 8%;
    }
    
    .main__paragraph{
        font-size: 1.3rem;
        margin-bottom: 8%;

    }
    
    .main__cta{
      font-size: 1.5rem;
        
    }

    .main__img{
        width: 100%;
        top: -25%;

       
    }

    
}


@media(min-width:1440px){

    .main__container{
        padding: 32px 0;
    }
    .main__title{
        font-size: 3.6rem;
        margin-bottom: 10%;
    }
    
    .main__paragraph{
        font-size: 1.3rem;
        margin-bottom: 10%;

    }
    
    .main__cta{
      font-size: 1.5rem;
        
    }

    .contact__btn{
        font-size:1rem;
       }

    /* .main__img{
        width: 49%;
       
    } */

    
}

